@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.posts-container {
    width:95%;
    margin:0 auto;
    padding:4rem 0 2rem;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.8rem;
}

.load-more-wrapper {
    text-align: center;
    padding:1rem 0 3.5rem;
}

.load-btn {
    cursor: pointer;
    border:none;
    text-transform: uppercase;
    padding:0.8rem 1.2rem;
    background-color: #377dff;
    color:white;
    font-weight:bold;
    border-radius:0.3rem;
}

/* Styling posts */

.postBox {
    padding:0.7rem 0.7rem 2rem;
    position:relative;
    -webkit-box-shadow: 0 0 3px rgb(173, 173, 173);
        box-shadow: 0 0 3px rgb(173, 173, 173);
}

/* Profile part */


.profileImgPart {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.profileImgNameDate {
    display:flex;
    align-items: center;
}

.profileImg {
    width:40px;
    height:40px;
    border-radius: 50%;
    object-fit: cover;
}

.profileNameAndDate {
    display:flex;
    flex-direction: column;
    margin-left:0.6rem;
}

.profileName {
    font-size:0.9rem;
    font-weight:bold;
}

.profileDate {
    font-size: 0.7rem;
}

.instagramLogo {
    width:22px;
    height:22px;
    border-radius: 0.2rem;
}

/* Image part */

.imgBox {
    margin-top:0.8rem;
    cursor: pointer;
}

.imgBox:hover {
 opacity: 0.8;
 transition: .2s ease-in-out;
}

.image {
    width:100%;
    height: 300px;
    object-fit: cover;
}

/* Description part */

.descriptionText {
    margin:0.8rem 0;
    padding-bottom:1rem;
    margin-bottom:1.2rem;
    border-bottom:1px solid rgb(211, 211, 211);
    font-size:14px;
}

.likesBox {
    display:flex;
}

.likesNumber, .heartImg {
    position:absolute;
}

.likesNumber {
    margin-left:0.2rem;
    bottom:0.7rem;
    left:1.8rem;
}

.heartImg {
    cursor: pointer;
    bottom:0.7rem;
    left:0.7rem;
}

.redHeart {
    color:  rgb(192, 49, 49);
}

.darkOverlay {
    position:fixed;
    top:0;
    width:100%;
    height:100vh;
    background-color: rgb(0,0,0,0.6);
    display:none;
}
/* loading */

.loading-wrapper {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.loading-img {
    width:150px;
    height:150px;
}

/* Modal styling */

.modalWrapper {
    width:60%;
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    padding:0.7rem;
    display: none;
    align-items: start;
    background-color: #fff;
    border-radius: 0.1rem;
    z-index: 1;
    
}

.modalImgBox {
    width:60%;
    height:450px;
    display:flex;
}

.postInfoModal {
    width:40%;
    display:flex;
    flex-direction: column;
    padding-left:0.7rem;
}

.imgModal {
    width:100%;
    object-fit: cover;
}

.profilePartsModal {
    padding:0.6rem 0;
    border-bottom:1px solid rgb(180, 179, 179);
}

.modalCaption {
    font-size:13px;
    padding-top:1.4rem;
    text-align: justify;
}

.likesInfoModal {
    margin:0.5rem 0;
    display:flex;
}

.likesTextModal {
   margin-left:0.2rem;
}

.heartModal {
    cursor: pointer;
}
/* arrow */

.arrow-up {
    width:60px;
    height:60px;
    border:3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:1rem;
    cursor: pointer;
    position:fixed;
    border-radius:50%;
    bottom:2rem;
    right:2rem;
    display:none;
}
.arrow {
    width:100%;
}

/* Media queries */

@media (max-width:1300px) {
    .modalWrapper {
        width:70%;
    }
}

@media (max-width: 992px) {
    .posts-container {
        width:90%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap:1rem;
    }
    .modalWrapper {
        width:90%;
    }
}

@media (max-width: 768px) {
    .posts-container {
        width:85%;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 500px) {
    .posts-container {
        width:90%;
    }
}